apiVersion: amd.com/v1alpha1
kind: NetworkConfig
metadata:
  name: test-networkconfig
  # it is highly recommended to use the namespace where AMD Network Operator is running
  namespace: kube-amd-network
spec:
  # Driver config
  driver:
    enable: True
    # Specify driver image here
    # DO NOT include the image tag as AMD Network Operator will automatically manage the image tag for you
    # e.g. docker.io/username/amdainic_kmods
    image: docker.io/rocm/amdainic_kmods
    # Specify the credential for your private registry if it requires credential to get pull/push access
    # you can create the docker-registry type secret by running command like:
    # kubectl create secret docker-registry mysecret -n KMM-NameSpace -docker-server=registry.example.com --docker-username=xxx --docker-password=xxx
    # Make sure you created the secret within the namespace that KMM operator is running
    imageRegistrySecret:
      name: my-secret
    # Specify the driver version
    # when you need to upgrade the driver, just update this field
    # we will unload the old version driver and load the new version driver
    version: 1.117.1-a-42

  devicePlugin:
    # To enable/disable NL
    enableNodeLabeller: True

    # node labeller image
    # default value is rocm/k8s-network-node-labeller:v1.0.0
    nodeLabellerImage: docker.io/rocm/k8s-network-node-labeller:v1.0.0

    # Specify the device plugin image
    # default value is rocm/k8s-network-device-plugin:v1.0.0
    devicePluginImage: docker.io/rocm/k8s-network-device-plugin:v1.0.0

    # Specify Device Plugin image pull policy
    # default value is IfNotPresent for valid tags, Always for no tag or "latest" tag
    devicePluginImagePullPolicy: "Always"

    # Specify Node Labeller image pull policy
    # default value is IfNotPresent for valid tags, Always for no tag or "latest" tag
    nodeLabellerImagePullPolicy: "Always"

    # image registry secret used to pull/push images
    # ensure it's created in the same namespace as network operator is running
    imageRegistrySecret:
      name: my-secret
        
  # Specify the metrics exporter config
  metricsExporter:
    # To enable/disable the metrics exporter, disabled by default
    enable: True

    # Network operator metrics exporter port where metrics are served
    port: 5001

    # kubernetes service type for metrics exporter, clusterIP(default) or NodePort
    serviceType: "NodePort"

    # Node port for metrics exporter service, metrics endpoint $node-ip:$nodePort
    nodePort: 32501

    # exporter image
    # default value is docker.io/rocm/device-metrics-exporter:nic-v1.0.0
    image: docker.io/rocm/device-metrics-exporter:nic-v1.0.0

    # image pull policy for metrics exporter
    # default value is IfNotPresent for valid tags, Always for no tag or "latest" tag
    imagePullPolicy: "Always"

    # image registry secret used to pull/push images
    imageRegistrySecret:
      name: my-secret

    # metrics config in configmap
    ###config:
      # configmap name, example config in example/metricsExporter/config.json
      ###name: configmap-exp
    
    # run pods with host networking
    hostNetwork: true

  # Secondary network configuration
  secondaryNetwork:
    # CNI plugin configuration
    cniPlugins:
      enable: True
      image: docker.io/rocm/k8s-cni-plugins:v1.0.0
      imagePullPolicy: "Always"
      # image registry secret used to pull/push images
      imageRegistrySecret:
        name: my-secret

  commonConfig:
    # -- init container image
    initContainerImage: busybox:1.36
    utilsContainer:
      # -- network operator utility container image used for driver upgrade
      image: docker.io/rocm/network-operator-utils:v1.0.0
      # -- utility container image pull policy
      imagePullPolicy: IfNotPresent
      # -- utility container image pull secret, e.g. {"name": "mySecretName"}
      imageRegistrySecret: {}
  
  # Specifythe node to be managed by this NetworkConfig Custom Resource
  selector:
    feature.node.kubernetes.io/amd-nic: "true"
